$sp: 415px; 
$tb: 760px;
$pc: 980px; 

//@include sp{}
@mixin sp {
  @media (max-width: $sp) {
    @content;
  }
}

//@include tb{}
@mixin tb {
  @media (min-width: $sp) and (max-width: $pc) {
    @content;
  }
}

//@include pc{}
@mixin pc {
  @media (min-width: $pc) {
    @content;
  }
}

@mixin pcandtb{
  @media (min-width: $tb) {
    @content;
  }
}

  @mixin push-auto {
    margin: { 
        left: auto;
        right: auto;
    }
}