@import "partials/mixins";
@import "partials/variables";
@import "partials/fonts";

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: $text-font;
    &:focus{
        outline: none;
    }
}

body{
    font-size: 1.6rem;
    color: $text-color;
    background-color: $bg-color;
}

a{
    color: $text-color;
    text-decoration: none;
}

img{
    max-width: 100%;
}

select {
    appearance: menulist!important;
    -moz-appearance: menulist!important;
    -webkit-appearance: menulist!important;
  }

  select::-ms-expand {
    display: block!important;
}

.header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
    @include pc{
      text-align: left;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
    @include pcandtb{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    &__logo{
      width: 150px;
        @include pcandtb{
          width: 90px;
        }
        @include sp{
          @include push-auto ;
 
        }
    }
    &__section{
        margin-left: 80px;
        @include sp{
          @include push-auto ;
          margin-top: 10px;
          display: inline-block;
        }
        &Desc{
            font-size: 2.2rem;
            font-weight: 300;
        }
        &Wrapper{
            width: 120px;
            margin-top: 15px;
            padding: 0;
            background-color: #fff;
        }
    }
}

.articles{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns:auto;
    grid-template-columns:auto;
    @include pc{
      grid-template-columns:auto auto auto auto;  
    }
    @include tb{
      grid-template-columns:auto auto auto;  
    }
    & a{
        max-height: 100%;
    }
      &__item{
          height: 600px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
              -ms-flex-align: end;
                  align-items: flex-end;
                  transition-duration: 0.5s;
      }
      &__desc{
          line-height: 2;
          padding: 8px;
          background-color: rgba(0, 0, 0, 0.5);
      }
      &__empty{
          text-align: center;
          font-size: 2.4rem;
          margin-top: 40px;
          margin-bottom: 60px;
      }
    //   &__content{
    //     &:hover{
            
    //       }
    //   }
}

.footer{
    color: $footer-color;
    padding: 30px 30px 60px;
    text-align: center;
    @include pc{
    text-align: left;
    }
    @include tb{
        padding-bottom: 40px;
    }
}
